.button-container {
  display: flex;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 38px;
  background-color: black;
  color: white;
  flex: 1 1;
  font-weight: bold;
}

.button-container:hover {
  transition: 0.4s ease;
  background-color: grey;

}
.operator {
  background-color: white;
  color: black;
  border-color: black;
}
